:root{
  --text-primary:#000;
  --bgPrimary:#fff;
 --bgSecondary: #F9F9F9;
 --blue: #0071bd;
 --light-blue: #e6f7ff;
 --border: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ant-layout-header {
  background-color: #fff;
}

.logo-container {
  background-color: #fff;
  display: flex;
  width: 100%;
  padding: 8px 10px 0 10px;
}

.logo-container h1{
  margin-left:10px;
}

.logo-container h1  { 
  font-size: 10px;
}

.menu-items {
  display: inline-block;
  position: absolute;
  top:0;
  right: 0;
}

@media screen and (max-width: 800px) {
  .menu-items {
    visibility: hidden;
  }
}

@media screen and (min-width: 800px) {

  .menu-icons {
    display:  none;
  }
}

.ant-layout-content {
  padding: 0 50px;
}

.heading-container, .show-more-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.show-more-container{
  margin-top: 20px;
  justify-content: flex-end;
}


.heading {
  margin: 20px 0;
}

.ant-table-cell a img {
  margin-right: 10px;
}

.ant-table-cell span.symbol {
  color: rgb(128, 138, 157);
  font-weight: 500;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 81vh;
}

.coin-detail-container{
  margin: 30px;
}

.coin-heading-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid var(--border);
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
}

.coin-heading-container .coin-name{
  font-weight: 900;
  color: var(--blue);
}

.coin-heading-container p{
  font-size: 1rem;
  opacity: 0.9;
  margin-bottom: 20px;
}

.chart-header{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  color: #0071bd;
}
.chart-title{
  color: #0071bd !important;
}
.price-container{
  display: flex !important;
  gap: 20px !important;
  align-items: center !important;
  flex-wrap: wrap !important;
}
.price-change{
  font-weight: 900 !important;
}
.current-price{
  margin-top: 0px !important;
  font-weight: 900 !important;
}

.select-timeperiod{
  width: 200px !important;
  margin-top: 20px !important;
}

.stats-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.stats-container h2{
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 20px;
  color: var(--blue);
}

.coin-details-heading{
  font-weight: 700 !important;
  margin-top: 20px !important;
  color: var(--blue) !important;
}

.coin-stats{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  font-size: 1rem;
  opacity: 0.9;
  padding: 20px;

}

.coin-stats-name{
  display: flex;
  gap: 10px;
  font-size: 1rem;
}

.stats{
  font-weight: 800;
}

.coin-value-statistics-heading p{
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link{
  display: flex;
  gap: 40px;
  margin-top: 40px;
  padding-top: 20px;
}

.coin-desc-link h2{
  font-weight: 700;
  color: var(--blue);
}

.coin-desc-link p{
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link a{
  color: var(--blue);
}

.coin-desc-link h3{
  font-weight: 700;
}

.coin-desc{
  flex: 0.5;
}

.coin-links{
padding: 0px 20px;
  flex: 0.5;
}

.coin-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  padding: 20px;
}

.link-name{
  text-transform: capitalize;
  font-size: 1rem;
}

.coin-link a{
  color: var(--blue);
  font-weight: 700;
  font-size: 1rem;
}

.coin-link:hover, .coin-stats:hover{
  background-color: var(--bgSecondary);
}


.footer{
  background-color: #001529;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.copyright {
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.ant-list-item-no-flex {
  display: flex;
}

.select-news{
  width: 250px;
}

.list-news {
  display: flex;
  margin: 15px 20px 15px 0;
  justify-content: space-between;
}

.list-news-img {
  flex:1;
  padding: 0 20px;
}

.provider-container{
  margin-top: 20px;
}
.provider-name{
  margin-left: 5px;
}

.published-date {
  margin-left: 10px;
}

.exchanges-list {
  margin: 0 0 30px 0;
}

.exchange-image{
  margin: 0px 10px !important;
}

.score {
  justify-items: center;
}

.menu {
  align-items: right;
  justify-content: flex-end;
  
}

@media screen and (max-width:600px){
  .menu {
    align-items: right;
    justify-content: flex-end;
    
  }
}